* {
	margin: 0;
	padding: 0;	
}




a {text-decoration: none;}

h1 {
    font-family: 'Vollkorn', serif;
}

h2 {
   margin-left: 50px;
  font-family: 'Vollkorn', serif;

}



p {
	margin-left: 50px;
	margin-right: 600px;
  	font-family: 'Vollkorn', serif;
	 color: #00FF00;
}

body {
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	font-family: 'Vollkorn', serif;
	font-size: 12px;
	text-shadow: 1px 1px 1px black;
	background-color: #c32c4a;
	height: auto;
	width: auto;
}


#nav{
	background-color: #bcce16;
	position: fixed;
	top:0;
	width: 100%;	
}


#nav-wrapper{
	position: relative;
	width: 90%;
	margin: auto;
	text-align: left;
}

#nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#nav ul li{
	display: inline;
}


#nav ul li:hover{
	background-color: #660000;
}

#nav ul li a,visited{
	padding: 0 10px;
	color: #FFF;
	text-decoration: none;
}



#sidebar{
	height: 60px;
	width: 30px;
	position: fixed;
	right: 10;
	bottom: 10px;	
}


#sidebar #up{
	height: 30px;
	width: 30px;
	top: 35px;
	position: absolute;
	
}




#content {
	width: 100%;
	margin: 0;
	padding: 0;
}

#content h1{
	color: #fff;
	text-align: center;
	padding: 10px;
}

#content h2{
	color: #fff;
	text-align: center;
	padding: 10px;
}

#content h3{
	color: #fff;
	text-align: left;
	padding: 10px;
}

#content h4{
	color: #fff;
	text-align: right;
	padding: 10px;
}

#content p{
	color: #000;	
}


#layer1 {
	margin-top: 50px;	
	height: 15%;
}

#layer12 {
	margin-top: 25px;
	background: url(pictures/childrens/oQueVouFzrDaVida3.jpg) no-repeat center top;
	background-size: 100%;
	height: 40%;
}


#layer2 {
	background: url(pictures/childrens/girl.jpg) no-repeat center bottom ;
	background-size: 100%;
	height: 100%;
}


#layer3{
	background: url(pictures/childrens/circle.jpg) no-repeat center bottom ;
	background-size: 100%;
	height: 80%;
}

#layer4 {
	background: url(pictures/childrens/child.jpg) no-repeat center bottom ;
	background-size: 100%;
	height: 80%;
}

#layer5 {
	background: url(pictures/childrens/voice.jpg) no-repeat center bottom ;
	background-size: 100%;
	height: 70%;
}

#layer6 {
	background: url(pictures/childrens/boy.jpg) no-repeat center bottom ;
	background-size: 100%;
	height: 120%;
}


#footer {
	clear: both;
	padding: 10px;
	background-color: #000;
	color: white;
	text-align: center;
}

