* {
	margin: 0;
	padding: 0;	
}

a {text-decoration: none;}


h1 {
    font-family: "Arial", Arial, serif;
}

h2 {
   margin-left: 50px;
  	font-family: "Gill Sans Extrabold", Helvetica, sans-serif ;
}

h3 {
   margin-left: 50px;
  	font-family: "Gill Sans Extrabold", Helvetica, sans-serif ;
	color: 000;
}

h4 {
  	font-family: "Gill Sans Extrabold", Helvetica, sans-serif ;
	color: 000;
}

body {
	padding: 0;
	margin: 0;
	font-family: Helvetica;;
	font-size: 16px;
}


#nav{
	background-color: #bcce16;
	/*6eAF3c*/
	opacity: .95;
	position: fixed;
	bottom: 0;
	width: 100%;	
}


#nav-wrapper{
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

#nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#nav ul li{
	display: inline-block;
}


#nav ul li:hover{
	background-color: #660000;
}

#nav ul li a,visited{
	display: block;
	padding: 15px;
	color: #FFF;
	text-decoration: none;
}




#menubarLeft1{
	position: fixed;
	margin-left: 30% ;	
	width:25%;
	top: 200px;
}

#menubarLeft1 #menuLeft11{
	position: absolute;
}

#menubarLeft2{
	position: fixed;
	margin-left: 30% ;	
	width:25%;
	top: 450px;
}

#menubarLeft2 #menuLeft21{
	position: absolute;
}



#menubarRight1{
	position: fixed ;
	margin-left: 68% ;	
	width:25%;
	top: 200px;
}

#menubarRight1 #menubarRight11{
	position: absolute;
}


#menubarRight2{
	position: fixed ;
	margin-left: 68% ;	
	width:25%;
	top: 450px;
}

#menubarRight2 #menubarRight21{
	position: absolute;
}






#layer1 {	
	background: url(pictures/banner3.jpg) no-repeat fixed center top;
	height: 150px;
}


#layer2 {
	background: url(pictures/lovedone/speechBalloons2.jpg) no-repeat center bottom ;
	
	height: 400px;
	
}

