* {
	margin: 0;
	padding: 0;	
}




a {text-decoration: none;}

h1 {
    font-family: 'Vollkorn', serif;
}

h2 {
   margin-left: 50px;
  font-family: 'Vollkorn', serif;

}


h3 {
	text-align: justify;
	margin-left: 15px;
	margin-right: 15px;	
}

p {
	margin-left: 50px;
	margin-right: 600px;
  	font-family: 'Vollkorn', serif;
	 color: #00FF00;
}

body {
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	font-family: 'Vollkorn', serif;
	font-size: 12px;
	text-shadow: 1px 1px 1px black;
	background-color: #262826;
	height: auto;
	width: auto;
}


#nav{
	background-color: #bcce16;
	position: fixed;
	top:0;
	width: 100%;	
}


#nav-wrapper{
	position: relative;
	width: 95%;
	margin: auto;
	text-align: left;
}

#nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#nav ul li{
	display: inline;
}


#nav ul li:hover{
	background-color: #660000;
}

#nav ul li a,visited{
	padding: 0 10px;
	color: #FFF;
	text-decoration: none;
}



#sidebar{
	height: 60px;
	width: 30px;
	position: fixed;
	right: 10;
	bottom: 10px;	
}


#sidebar #up{
	height: 30px;
	width: 30px;
	top: 35px;
	position: absolute;
	
}




#content {
	width: 100%;
	margin: 0;
	padding: 0;
}

#content h1{
	color: #fff;
	text-align: center;
	padding: 10px;
}

#content h2{
	color: #fff;
	text-align: center;
	padding: 10px;
}

#content h3{
	color: #fff;
	text-align: left;
	padding: 10px;
}

#content h4{
	color: #fff;
	text-align: right;
	padding: 10px;
}

#content p{
	color: #000;	
}



#layer1 {
	margin-top: 10%;
	background: url(pictures/adult/tel1.jpg) no-repeat top center;
	background-size: 100%;		
	height: 20%;
}


#layer12 {
	height: 20%;	
}


#layer2 {
	height: 10%;
}

#layer21 {
	/*background: url(pictures/adult/casal.jpg) no-repeat center bottom ;
	background-size: 100%;*/
	height: 75%;	
	width:100%;
}


#layer3{
	/*background: url(pictures/adult/celular.jpg) no-repeat center bottom;
	background-size: 100%;*/
	height: 80%;
	width: 100%;	
}


#layer31{
	height: 1%;	
}


#layer4 {
	height: 40%;	
}

#layer41 {
	/*background: url(pictures/adult/caixas.jpg)  no-repeat center bottom  ;
	background-size: 100%;*/
	height: 50%;	
}






#layer5 {

	height: 1%;	
}


#layer51 {	
	/*background: url(pictures/adult/disco.jpg) no-repeat center bottom  ;
	background-size: 100%;*/	
	height: 80%;
}

#layer6 {
	background: url(pictures/adult/telefones.jpg) no-repeat center bottom  ;
	background-size: 100%;
	height: 25%;
}


#footer {
	clear: both;
	padding: 10px;
	background-color: #000;
	color: white;
	text-align: center;
}

