* {
	margin: 0;
	padding: 0;	
}

a {text-decoration: none;}

h1 {
    font-family: 'Vollkorn', serif;
}

h2 {
   margin-left: 50px;
  font-family: 'Vollkorn', serif;

}

h3 {
	text-align: justify;
	margin-left: 15px;
	margin-right: 15px;	
}

p {
	margin-left: 50px;
	margin-right: 600px;
  	font-family: 'Vollkorn', serif;
	 color: #00FF00;
	
}

body {
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	font-family: 'Vollkorn', serif;
	font-size: 16px;
	text-shadow: 1px 1px 1px black; 
	background-color: #262826;
	height: auto;
	width: auto;
}


#nav{
	background-color: #bcce16;
	position: fixed;
	top:0;
	width: 100%;	
}


#nav-wrapper{
	width: 70%;
	margin: 0 auto;
	text-align: left;
}

#nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#nav ul li{
	display: inline-block;
}


#nav ul li:hover{
	background-color: #660000;
}

#nav ul li a,visited{
	display: block;
	padding: 15px;
	color: #FFF;
	text-decoration: none;
}

#sidebar{
	height: 60px;
	width: 30px;
	position: fixed;
	right: 10;
	bottom: 10px;	
}

#sidebar #up{
	height: 30px;
	width: 30px;
	top: 35px;
	position: absolute;
	
}




#content {
	width: 100%;
	margin: 0;
	padding: 0;
}

#content h1{
	color: #fff;
	text-align: center;
	padding: 10px;
}

#content h2{
	color: #fff;
	text-align: center;
	padding: 10px;
}

#content h3{
	color: #fff;
	text-align: left;
	padding: 10px;
}

#content h4{
	color: #fff;
	text-align: right;
	padding: 10px;
}

#content p{
	color: #000;	
}


#layer1 {
	margin-top: 40px;
	background: url(pictures/adult/tel1.jpg) no-repeat center;
	background-size: 100%;		
	height: 60%;
}


#layer12 {
	margin-top: 40px;
	height: 20%;	
}


#layer2 {
	height: 50%;
	width: 50%; 
	float: left;
}

#layer21 {
	background: url(pictures/adult/casal.jpg) no-repeat right top ;
	background-size: 50%;
	height: 65%;	
	
}


#layer3{
	background: url(pictures/adult/celular.jpg) no-repeat left top ;
	background-size: 50%;
	height: 50%;
	
}


#layer31{
	height: 50%;
	width: 52%; 
	float: left;	
}


#layer4 {
	height: 50%;
	width: 50%; 
	float: left;	
}

#layer41 {
	background: url(pictures/adult/caixas.jpg)  no-repeat right top  ;
	background-size: 50%;
	height: 50%;	
}






#layer5 {

	height: 50%;
	width: 52%; 
	float: left;	
}


#layer51 {
	height: 50%;	
	background: url(pictures/adult/disco.jpg) no-repeat left top;
	background-size: 50%;
}

#layer6 {
	height: 80%;	
	background: url(pictures/adult/telefones.jpg) no-repeat left top;
	background-size: 100%;
}


#footer {
	clear: both;
	padding: 10px;
	background-color: #000;
	color: white;
	text-align: center;
}

