* {
	margin: 0;
	padding: 0;
}




a {text-decoration: none;}

h1 {
    font-family: 'Vollkorn', serif;
}

h2 {
   margin-left: 50px;
  font-family: 'Vollkorn', serif;

}



p {
	margin-left: 50px;
	margin-right: 600px;
  	font-family: 'Vollkorn', serif;
	 color: #00FF00;
}

body {
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	font-family: 'Vollkorn', serif;
	font-size: 12px;
	text-shadow: 1px 1px 1px black;


	height: auto;
	width: auto;

	background-image: url(pictures/texture/school.png);
  background-position: center top;
  background-size: 10% auto;
}


#nav{
	background-color: #bcce16;
	position: fixed;
	top:0;
	width: 100%;
}


#nav-wrapper{
	position: relative;
	width: 95%;
	margin: auto;
	text-align: left;
}

#nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#nav ul li{
	display: inline;
}


#nav ul li:hover{
	background-color: #660000;
}

#nav ul li a,visited{
	padding: 0 10px;
	color: #FFF;
	text-decoration: none;
}



#sidebar{
	height: 60px;
	width: 30px;
	position: fixed;
	right: 10;
	bottom: 10px;
}


#sidebar #up{
	height: 30px;
	width: 30px;
	top: 35px;
	position: absolute;

}




#content {
	width: 100%;
	margin: 0;
	padding: 0;
}

#content h1{
	color: #fff;
	text-align: center;
	padding: 10px;
}

#content h2{
	color: #fff;
	text-align: center;
	padding: 10px;
}

#content h3{
	color: #fff;
	text-align: left;
	padding: 10px;
}

#content h4{
	color: #fff;
	text-align: right;
	padding: 10px;
}

#content p{
	color: #000;
}






#layer1{
	margin-top: 30px;
	margin-left:15px;
	float: center;
	height: 76%;
}

#layer2{
	float: center;
	height: 50%;
	width: 50%;
}







#footer {
	clear: both;
	padding: 10px;
	background-color: #000;
	color: white;
	text-align: center;
}
